doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Apriori
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    link(rel="stylesheet" type="text/css" href="css/main.css")
    link(rel="stylesheet" type="text/css" href="css/fonts.css")
  body
    header
      .page-wrapper
        .header
          a(href='#')
            img(src='img/logo.png')
          h6 Профессиональная танцевальная студия

          .header__info
            i.first-sprite.first-sprite-phone
            span +7 495 227-83-88
            button Оставить заявку
    .about
      .page-wrapper
        